@model LoginModel
@{
    Layout = "_LayoutNlogado";
    ViewData["Title"] = "Login";
}

 @if(TempData["MensagemErro"]!= null)
    {
       <div class="alert alert-danger" role="alert">
  @TempData["MensagemErro"]
</div> 
    }

<form asp-controller="Login" asp-action="Entrar" method="post">
 
  
 


    

    <div class="form-floating">
       <input type="text" asp-for="Login" class="form-control" id="login" >
      <label for="floatingInput">Login</label>
       @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-floating">
       <input type="password" asp-for="Senha" class="form-control" id="senha">
      <label for="floatingPassword">Senha</label>
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

   
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
    



</form>