@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    
    <h3>Sistema de  contatos</h3>


    

    <div class="card text-bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Autor David Orion</div>
  <div class="card-body">
    <p class="card-text">Feito C# com base de dados SQL-server</p>
     <p class="card-text">Login e Senha</p>
      <p class="card-text">Perfil de usuario</p>
       <p class="card-text">Listagem,Cadastro,Atualização,Exclusão de conteudo</p>
  </div>
    
</div>
